
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>5000</title>
    <link rel="stylesheet" href="../../public/css/game.css">
</head>
<body>
    <h1> The 5000 </h1>
    <input id="query_input" type="text" name="query_input" placeholder="Commandes..." disabled>
    <p id="responses"></p>

    <script src="../../public/script/game.js"></script>
</body>
</html>

