html,
body {
	height: 100%;
}


.error {
	color: crimson;
	font-style: italic;
}

.success {
	color: forestGreen;
	font-style: italic;
}

.info {
	color: gray;
	font-style: italic;
}

nav {
	background-color: #2A4B7C;
}

a {
	color: #FFF;
}

a:hover {
	color: #E08119;
}

#container {
	min-height: 100%;
	height: 100%;
}