html, body {
	height: 100%;
}
body {
	padding-top: 90px;
}

.error {
	color: crimson;
	font-style: italic;
}
.success {
	color: forestGreen;
	font-style: italic;
}
.info {
	color: gray;
	font-style: italic;
}

